includeConfig 'process.config'

docker {
    enabled = true
    runOptions = "${params.containers.dockerRunOptions}"
}

process {
    withLabel:alpine { container = "alpine" }
    withLabel:trickySoftware { container = "trickysoftware" }
    withLabel:onlyLinux { container = "onlylinux" }
    withLabel:rmarkdown { container = "rmarkdown" }
    withLabel:fastqc { container = "fastqc" }
    withLabel:helloWorld { container = "helloworld" }
}
