params {
  genomeAnnotationPath = params.genomeAnnotationPath ?: "${baseDir}/../annotations"

  geniac {

    // Installation paths
    multiPath = params.globalPath ?: "${baseDir}/../multipath"
    path = params.globalPath ?: "${baseDir}/../path"
    singularityImagePath = params.singularityImagePath ?: "${baseDir}/../containers/singularity"

    tools {
      // Add your tools available in conda here, for example:
      fastqc = "conda-forge::openjdk=8.0.192=h14c3975_1003 bioconda::fastqc=0.11.6=2"
      markdown = "conda-forge::python=3.7.6=cpython_h8356626_6 conda-forge::pymdown-extensions=7.1=pyh9f0ad1d_0"
      trickySoftware = "${baseDir}/recipes/conda/trickySoftware.yml"
    }

    // options for singularity and docker containers
    containers {
      singularityRunOptions = ""
      dockerRunOptions = ""

      // containers are based on CentOS linux
      // some tools require dependcies to be installed with 'yum install'
      // specific dependencies are listed below
      yum {
        // example of dependency:
        fastqc = 'fontconfig dejavu*'
      }

      //git {
      // keep this as syntax example
      //some_tools = 'https://github.com/some_user/some_tools::commit_hash'
      //}
    }
  }
}
