includeConfig 'process.config'

singularity {
  enable = false
}

docker {
  enable = false
}

process {
    withLabel:alpine { beforeScript = "export PATH=${baseDir}/../path/alpine/bin:$PATH" } 
    withLabel:trickySoftware { beforeScript = "export PATH=${baseDir}/../path/trickySoftware/bin:$PATH" } 
    withLabel:rmarkdown { beforeScript = "export PATH=${baseDir}/../path/rmarkdown/bin:$PATH" } 
    withLabel:fastqc { beforeScript = "export PATH=${baseDir}/../path/fastqc/bin:$PATH" } 
    withLabel:helloWorld { beforeScript = "export PATH=${baseDir}/../path/helloWorld/bin:$PATH" } 
}
