includeConfig 'process.config'

singularity {
    enabled = true
    autoMounts = true
    runOptions = "${params.containers.singularityRunOptions}"
}

process {
    withLabel:alpine { container = "${params.containers.singularityImagePath}/alpine.simg" }
    withLabel:trickySoftware { container = "${params.containers.singularityImagePath}/trickysoftware.simg" }
    withLabel:onlyLinux { container = "${params.containers.singularityImagePath}/onlylinux.simg" }
    withLabel:rmarkdown { container = "${params.containers.singularityImagePath}/rmarkdown.simg" }
    withLabel:fastqc { container = "${params.containers.singularityImagePath}/fastqc.simg" }
    withLabel:helloWorld { container = "${params.containers.singularityImagePath}/helloworld.simg" }
}
